<form name="contactForm" class="col s12 m12">
    <div class="row" ng-if="contactsCtrl.loading">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="row" ng-repeat="contact in contacts">
        <div class="input-field col s12 m6">
            <input id="phone_number_{{$index}}" type="tel" ng-model="contact.number" class="validate">
            <label for="phone_number_{{$index}}">Phone number</label>
        </div>
        <div class="input-field col s12 m6">
            <select id="lang_{{$index}}" ng-model="contact.lang">
                <option value="en">English</option>
                <option value="fr">Français</option>
            </select>
            <label for="lang_{{$index}}">Language</label>
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="save()">Save
            <i class="material-icons right">send</i>
        </button>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="add()">
            <i class="material-icons">add</i>
        </a>
    </div>
</form>